body {
    padding: 20px 0;
    margin: 0;
}
html{
	width: 100%;
	height: 100vh;
}
body{
	width: 100%;
	height: 100vh;
}
table{
	width: 100%;
	height: 100vh;
}
textarea {
    width: 100%; 
    height: 100%; 
    resize: none; 
}
.sharWidth {
	width:100%;
}
.ng-binding {
	background: rgb(230, 255, 255);
    border-radius: 14px;
    margin-bottom: 10px; 
	padding: 10px;
}
.header {
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #BDBDBD;
    margin-bottom: 30px;
}

#enterDate{
	width:100%;
	font-family: Arial, serif;
    font-size: 100%;
    margin-bottom: 30px;
}
#enterDate>div{
	width:80%;
	font-family: Arial, serif;
    font-size: 100%;
    margin-bottom: 30px;
    padding: 5px;
}

.mainContent {
    height: 85%;
    background-color: #E6E6E6;
    width: 100%;
}
.repeatDate{
    margin-bottom: 30px;
}
.mstime{
    color: red;
    margin-bottom: 5px;
}
.msauthor{
    color: DodgerBlue;
    margin-bottom: 5px;
}


